<h1 class="text-center mt-4">Listing all articles</h1>

<div class="container d-flex justify-content-center mt-4 mb-4">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
<%= render 'article' %>
<div class="container d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>