@import 'bootstrap/dist/css/bootstrap';

.navbar {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}


.nav-link{
  color: white !important;
}

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('jumbotron-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  padding: 20px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background: lightgray;
}

#sticky-footer {
  flex-shrink: none;
}

.py-4{
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.7);
}
