<footer id="stycky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Junior Ruíz", "https://junior-r.github.io/Mi%20Blog%20de%20Presentacion/", class: "text-white text-decoration-none" %></small>
    </div>
</footer>